# Next.js build output
apps/web/.next/
apps/web/.next/**

# Node dependencies
**/node_modules/

# build outputs
**/dist/
**/dist/**

# local env files
**/.env.local

# local docker scratch folders (if accidentally created)
/docker/
apps/web/tsconfig.tsbuildinfo
